/* Layout
================================= */

body {
	padding-top: 70px;
}
.container {
	max-width: 1000px;
}


/* Jumbotron
================================= */

.jumbotron {
	text-align: center;
	padding: 0.2em 0.5em;
	h1 {
		font-size: 1em;
	}
	p {
		font-size: .05em;
	}
}